.ast-mobile-header-wrap .main-navigation .main-header-menu {
    display: block;
    line-height: 3;
}

.main-header-bar {
    border-bottom-style: none;
}

.elementor-element-5b70b4cb .elementor-button-link {
    width: auto;
}
.elementor-element-5b70b4cb .elementor-button-wrapper{
    text-align: right;
}
.elementor-element-393827c8 .elementor-button-link{
    width: auto;
}